html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-decoration-color: #797979;
}
.entête{
    background-size: cover;
    background-position: center;
    width: 100%;}
    .couleurbout{
        background-color: #FF477E;
        border-radius: auto;

    }
    .nav-item{
        margin-left: 2rem;
    }
    .t-milieu{
        opacity: 0.7;
        margin-top: 50px;
    }
    .imlog{
        width: 6rem;
        left: 188px;
        top: -206px;
        border-radius: 0px;
        
            }
   
    .tr{
        position:absolute;
        content: '';
        height: 3px;
        width: 2rem;
        background-color: #FF477E;
        bottom: -10;
        left:50% ;
        
    }
    .card{
        margin-left:7% ;
        
       
    }
    .cardc{
        margin-top: 5rem;
    }
    .tr2{
        position: relative; 
        }
    .flexbox{
        display: flex;
    }
     .tr2{
         position:absolute;
         content: '';
         height: 3px;
         width: 2rem;
         background-color: #FF477E;
         bottom: -50;
         left:48% ;  
     }
     
     .foot1 {color: white;
        font-family: 'Poppins', sans-serif;
    
    }
    h4,h3 {font-family: 'Poppins', sans-serif;
        font-weight: 600px;
    
    }
    p {
        font-weight: 400px;
    
    }
    a { font-weight: 400px;
    
    }
    .serviette {

        height: 350px;
        margin-top: 5rem;
    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("images/image\ 5.png") no-repeat center / cover ;
    
     }
     .foot{ background-color:#480000 ;
        border:1px solid darkred;
        height: 300px;
        color: white;
        padding-top:40px;
    
    
    }
    .bar {
         border-bottom: 1px solid white;
    
    
     }
    
    .foot1 {color: white;
        font-family: 'Poppins', sans-serif;
        background-size: 33px;
    
    }
    .titre{
        padding-bottom: 4rem;
    }
    .pad{
        padding-left: 2rem;
    }

   