

@media (min-width: 576px) { ..
    
    
    
    .couleurdefond{
        background-color:#E5E5E538;
        height: 60vh;
    
    }
    
    .fourthparagraph{
        margin-top: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: small;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
    
        }
    . }

